<form accept-charset="UTF-8" 
      action="/submissions/<%= @submission.id %>" 
      class="edit_submission" 
      enctype="multipart/form-data" 
      id="edit_submission_<%= @submission.id %>" 
      method="post">
  
  <div style="margin:0;padding:0;display:inline">
    <input name="_snowman" type="hidden" value="&#9731;" />
    <input name="_method" type="hidden" value="put" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  </div>
  
  <p>
    Username: <%= @submission.user.username %>
  </p>
  <p>
    Email: <%= @submission.user.email %>
  </p>
  <p>
    <label for="submission_grade">Grade:</label>
    <input id="submission_grade" name="submission[grade]" size="30" type="text" value="<%= @submission.grade %>" />
  </p>
  <% content_number = 0 %>
  <% @submission.contents.each do |content| %>
    <p>
      <label for="submission_contents_attributes_<%= content_number %>_attachment"><%= content.requirement.name %>:</label>
      <% if content.attachment.exists? %><a href="<%= content.attachment.url %>">
        <%= content.attachment_file_name %></a>
      <% else %>
        <b>No content submitted</b>
      <% end %>
    </p>
    <p>
      <label for="submission_contents_attributes_<%= content_number %>_notes">Submission notes:</label>
      <textarea id="submission_contents_attributes_<%= content_number %>_notes" name="submission[contents_attributes][<%= content_number %>][notes]" size="100" rows="5" type="text"><%= content.notes %></textarea>
      <input id="submission_contents_attributes_<%= content_number %>_id" name="submission[contents_attributes][<%= content_number %>][id]" type="hidden" value="<%= content.id %>" />
    </p>
  
      <% content_number += 1 %>
    </p>
  <% end %>

  <p>
    <label for="submission_status">Assignment status</label>
    <select id="submission_status" name="submission[status]">
      <option value="0">Not submitted</option>
      <option value="1">Submitted for grading</option>
      <option value="2" selected="selected">Graded</option>
    </select>
  </p>

  <p>
    <input id="submission_submit" name="commit" type="submit" value="Update" />
    </p>
</form>
