<%= simple_form_for @assignment , :html => { :multipart => true } do |f| %>
  <%= f.input :name %>
  <%= f.input :due %>
  <%= f.input :abstract %>
  <%= f.input :description, :as => :text %>
  <%= f.fields_for :requirements do |r| %>
    <%= render 'requirement_fields', :f => r %>
  <% end %>
  <div class="add"><%= link_to_add_fields "Add required file", f, :requirements %></div>
  <%= f.button :submit %>
<% end %>