<div id="section">
  <div id="header"><%= @assignment.name %> : due <%= @assignment.due.to_s(:assignment)%></div>
  <div id="content"><%= raw(@assignment.description) %></div>
  <br/>
  <a class="command" href="/submissions?assignment_id=<%= @assignment.id %>">View my submission</a>
</div>
<% if !current_user.nil? && current_user.admin? %>
<div>
<%= link_to "Edit assignment", edit_course_assignment_path(@course.id, @assignment.id), :class => "command" %>
</div>
<% end %>