<form accept-charset="UTF-8" 
      action="/submissions/<%= @submission.id %>" 
      class="edit_submission" 
      enctype="multipart/form-data" 
      id="edit_submission_<%= @submission.id %>" 
      method="post">
  
  <div style="margin:0;padding:0;display:inline">
    <input name="_snowman" type="hidden" value="&#9731;" />
    <input name="_method" type="hidden" value="put" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  </div>
  
  <% content_number = 0 %>
  <% @submission.contents.each do |content| %>
  <p>
    <label for="submission_contents_attributes_<%= content_number %>_attachment"><%= content.requirement.name %></label>
    <input id="submission_contents_attributes_<%= content_number %>_attachment" 
           name="submission[contents_attributes][<%= content_number %>][attachment]" type="file" />
    <input id="submission_contents_attributes_<%= content_number %>_id" 
           name="submission[contents_attributes][<%= content_number %>][id]" type="hidden" value="<%= content.id %>" />  
    <% content_number += 1 %>
  <% end %>
  
  <p>
    <label for="submission_status">Submit assignment?</label>
    <input name="submission[status]" type="hidden" value="0" />
    <input <% if @submission.status == 1 %>checked="checked"<% end %> id="submission_status" name="submission[status]" type="checkbox" value="1" />
  </p>


<p><input id="submission_submit" name="commit" type="submit" value="Update" /></p>
</form>