<!DOCTYPE html>
<html>
<head>
  <title>Homeworkr</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if user_signed_in? %>
<div class="useractions"><%= link_to('View my submissions', submissions_path, :class=>"command") %> or <%= link_to('Log out', destroy_user_session_path, :class=>"command") %></div>
<% else %>
<div class="useractions"><%= link_to('Sign in', new_user_session_path, :class=>"command") %> or <%= link_to('Sign up', new_user_registration_path, :class=>"command") %></div>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
